# Database Configuration
DATABASE_URL=postgresql://withus_user:1204@localhost:5432/withus_db

# JWT Configuration
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=True 

ADMIN_EMAIL=nanaji07@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=swaglickers1204@gmail.com
EMAIL_PASS=kefsesitwrhfvost